.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 60px;
}

.buttonsContainer a:nth-child(2n) {
  margin-left: 10px;
}

.button {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #3ea9f5;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
