.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}

.google {
  background-color: #dd4b39;
}

.facebook {
  background-color: #2d4373;
}

.socialIcon {
  margin-right: 10px;
}
